@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat_Subrayada/MontserratSubrayada-Regular.ttf);
}

@font-face {
  font-family: Alegreya;
  src: url(/fonts/Alegreya_SC/AlegreyaSC-Medium.ttf);
}
