@import url(./fonts.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Root Directry for all colors and fronts  */

:root {
  --nav-text: rgba(255, 255, 255, 0.99);
  --main-text: rgba(0, 0, 0, 0.645);
  --dark-text: #000000c4;

  --primary: rgb(165, 165, 165);
  --secondary: #ffffff;

  /* Font family used in the Project*/
  --Montserrat: 'Montserrat';
  --Alegreya: 'Alegreya';
}

body {
  font-family: var(--Alegreya);
  font-weight: 400;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p,
h6 {
  margin: 0;
}

h1,
h2,
h3,
h6 {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--dark-text);
  max-width: 100%;
  letter-spacing: 0.1rem;
  text-align: center;
}
p {
  font-size: 0.8rem;
  letter-spacing: 0.02rem;
  font-weight: normal;
  font-weight: lighter;
  color: var(--main-text);
  max-width: 100%;
  text-align: center;
}

@media (min-width: 50em) {
  p {
    text-align: start;
  }
  h1,
  h2,
  h3,
  h6 {
    text-align: start;
  }
}

@media (min-width: 50em) {
  h1 {
    font-size: 2.5rem;
  }
  ul {
    background-color: var(--primary);
    font-size: 1.5rem;
  }
}

h1,
h2,
h3,
p {
  margin-bottom: 0.2em;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

img,
i {
  max-width: 100%;
}

nav {
  padding: 1.2em 0;
}

section {
  padding: 3em 0;
}

button {
  display: inline-block;
  /* justify-content: center; */

  width: 250px;
  font-size: 1.1rem;

  margin: 0 auto;
  cursor: pointer;
  font-family: var(--Alegreya);
  border-radius: 25px;
  border: 1px solid;
  padding: 1em;

  background: none;

  transform: all linear 0.5ms;
}

button:hover {
  background: grey;
  border: none;
  color: var(--nav-text);
}

.container {
  margin-inline: auto;
  width: clamp(200px, 90%, 100em);
}

/* .nav-items > ul > li {
  padding: 1.5em 0;
} */

.bg--grey {
  /* background-color: var(--primary); */
  background-color: rgba(12, 12, 12, 0.871);
}

.bg-light {
  background-color: var(--secondary);
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.icon,
.toogle {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  color: white;
}

.toogle {
  opacity: 1;
  cursor: pointer;
  margin: 1.5rem 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav--content {
  z-index: 10;
}

.nav-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 0 1.5em 0;
}

.hidden {
  visibility: hidden;
}

.list a {
  color: white;
}

.list {
  padding: 1.2em 0;
}

.nav--items_active {
  border-bottom: 1px solid rgb(255, 253, 253);
}

.nav-items {
  max-height: 0vh;
  overflow: hidden;
}

@media (min-width: 50em) {
  .toogle {
    opacity: 0;
  }

  .icon {
    font-size: 1.8rem;
  }
  .content,
  .nav-items {
    flex-direction: row;
  }
  .nav-items {
    width: 40em;
    justify-content: space-evenly;
    font-size: 1.2rem;
    padding-top: 0.7em;
    background-color: rgba(12, 12, 12, 0.01);
  }

  .nav--animation {
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
  }

  .sticky {
    position: fixed;
    top: 0;
    padding-left: 5rem;
    width: 100%;
  }

  .sticky-color {
    position: fixed;
    top: 0;
    padding-left: 5rem;
    width: 100%;
    background: rgba(46, 46, 46, 0.775);
  }

  .list {
    padding: 1.5em 0 0 0;
  }

  .hidden {
    visibility: visible;
  }
}

/* ------------------ Heder container ------------------- */
.container--center {
  padding: 0 0 2em 0;
}

.intro > h3,
h1 {
  color: rgb(255, 255, 255);
}

.intro p {
  color: rgb(255, 255, 255);
}

/* Section-1 animation */
.intro--animation {
  animation: pulse 1s ease-in;
  /* transition: all linear 0.9s; */
}

@keyframes pulse {
  0% {
    transform: translateX(-2rem);
    filter: opacity(0);
  }
  100% {
    transform: translateX(0);
    /* filter: opacity(100%); */
  }
}

.img--section_animation img {
  animation: minus 1s 0.3s ease-in;
}

@keyframes minus {
  0% {
    transform: translateY(2rem);
    filter: opacity(0);
  }
  100% {
    transform: translateY(0);
  }
}

.display--flex_content {
  display: flex;
  flex-direction: column-reverse;

  margin: 0 auto;
}

.display--flex_content > * + * {
  margin-bottom: 3rem;
}

/* --------------------- Media query for the header ---------------------- */
@media (min-width: 50em) {
  .container--center {
    padding: 6em 0 6em 0;
  }

  .display--flex_content {
    flex-direction: row;
  }

  .display--flex_content > * {
    flex-basis: 100%;
  }

  .display--flex_content > * + * {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 43%;
  }

  .display--flex_content .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .intro h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid orange;
    animation: typing 5.2s steps(30, end), blink-caret 1s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}

/*-------- Media query for the container--flex(Section-1)-------------- */

.container--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--items {
  padding: 2em 0;
}

.container--items h1,
p {
  color: rgb(55, 54, 54);
}

.container--items h1 {
  padding-bottom: 2.5rem;
}

.container--image img {
  padding: 3em 0;
}

.btn {
  padding: 0 1.2em;
}

/* Section-3 animation */

.container-animation {
  animation: animate 1.5s linear;
}

@keyframes animate {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.container-animation img {
  animation: animation 1.5s linear;
}

@keyframes animation {
  0% {
    transform: translateX(8rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.container-animation button {
  animation: button 1.5s ease-in;
}

@keyframes button {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 50em) {
  .container--padding {
    padding: 2.5em 0 6em 0;
  }

  .container--flex {
    flex-direction: row;
  }

  .container--flex > * {
    flex-basis: 100%;
  }

  .container--flex > * + * {
    margin-left: 12rem;
  }

  .container--items p {
    /* width: 60%; */

    font-size: clamp(1rem, 1.5vw, 3rem);
  }
  .container--items h1 {
    font-size: clamp(1rem, 3vw, 5rem);
  }

  .btn button {
    position: absolute;
    left: 40%;
  }
  .move--left {
    text-align: center;
    margin-left: 12rem;
  }
}

/* ----------------- Second Section ------------------ */

.featured-projects {
  font-size: clamp(1.5rem, 4vw, 5rem);
  align-items: center;
  text-align: center;
  /* padding: 0 0.2em; */
}

/* .content--grey_img img {
  filter: contrast(50%);
  z-index: 1;
} */

/* .content--grey_img:hover img {
  filter: contrast(100%);
  z-index: 1;
} */

.project--img {
  width: 100%;
  padding-top: 3rem;
}

.featured-projects h1 {
  color: rgb(55, 54, 54);
}

.language-name h6 {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5em;
}

.language-name {
  display: flex;

  padding: 1em 0;
  /* margin: 0 auto; */
}

.container--items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 50em) {
  .featured-projects {
    padding: 0 6.5em 1.2em 6.5em;
  }

  .featured-projects h1 {
    text-align: center;
    color: rgb(55, 54, 54);
  }

  .btn--visit button {
    position: absolute;
    right: 5.2rem;

    border-radius: 1px;
  }
  .container--items {
    justify-content: start;
    align-items: flex-start;
  }
}

/* --------------- Section skills ------------- */
.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-flex h1 {
  padding-bottom: 1em;
}
.skills img {
  max-width: 23%;
  padding-left: 1.6em;
}

@media (min-width: 50em) {
  .skills img {
    max-width: 40%;
  }
}

/* --------------------- Contact Section --------------- */

.contact--flex {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.contact-details p {
  max-width: 990px;
  line-height: 1.5rem;
}

.contact-Us {
  display: flex;
  flex-direction: column;
}

.bg--color p {
  color: rgb(255, 255, 255);
}

#input,
#input-text[type='text'] {
  display: inline-block;
  width: 100%;

  height: 3em;
  font-size: 1.2rem;
  border: none;
  border-radius: 10px;
  padding: 0 0.8em;
  outline: none;
}

#input-text[type='text']:focus {
  height: 10em;
  /* transform: all linear 0.9s; */
}

.details {
  padding-bottom: 1.5em;
}

@media (min-width: 50em) {
  .contact-Us {
    flex-direction: row;
  }
  .contact-Us > * + * {
    padding-left: 10em;
  }
  .contact-Us + * {
    padding-top: 5em;
  }
}

/* Footer */
.created--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 3.5rem 0;
}

.created-by,
.social-icons {
  font-size: clamp(0.7rem, 2.2vw, 3rem);
}

.social-icons {
  cursor: pointer;
}

@media (min-width: 50em) {
  .created--flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
